body {
    background-color: lightgreen;
    font: normal 15px Calibri light;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px 20px black;
}

footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}